Statistiques descriptives

In [75]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

data = pd.read_csv("../DS_DEVDUR_data.csv", sep = ";")

In [73]:
## création d'une fonction permettant d'explorer le jeu de données de manière descriptive d'un coup.
def overview(df):
    colonnes = df.columns ## noms des colonnes
    forme = df.shape ## dimensions
    valeurs_nulles = df.isnull().sum() ## valeurs nulles à remplacer
    descr = df.describe(include = 'all') ## 
    print(f"Ce jeu de données contient {forme[1]} colonnes et {forme[0]} lignes.\n")
    
    for col in df.columns:
        uniques = df[col].nunique()
        print(f"{col}: {uniques} valeurs uniques. \n")
        if uniques < 10:
            print(data[col].value_counts(), "\n")
    print(f" Pour une vision plus poussée: {descr}.\n")
    return df.head(5)

In [74]:
overview(data)

Ce jeu de données contient 15 colonnes et 9076 lignes.

ODD: 17 valeurs uniques.

INDICATEUR_DEVDUR: 175 valeurs uniques.

UNIT_MEASURE: 20 valeurs uniques.

UNIT_MULT: 3 valeurs uniques.

UNIT_MULT
0    7226
6    1490
3     360
Name: count, dtype: int64

OBS_STATUS: 6 valeurs uniques.

OBS_STATUS
A    5664
L    2239
R     504
E     304
B     254
P     111
Name: count, dtype: int64

GEO: 5 valeurs uniques.

GEO
F            4698
FM           3361
F_X_D976      889
DOM_COMER     115
DOM            13
Name: count, dtype: int64

GEO_OBJECT: 2 valeurs uniques.

GEO_OBJECT
FRANCE    8948
OTHER      128
Name: count, dtype: int64

DEVDUR_COMPOSITE: 192 valeurs uniques.

SEX: 7 valeurs uniques.

SEX
_Z       4481
_T       3134
F         797
M         619
M_cis      15
F_cis      15
TS         15
Name: count, dtype: int64

AGE: 40 valeurs uniques.

EMPSTA: 11 valeurs uniques.

PCS: 8 valeurs uniques.

PCS
_Z     7891
_T      775
4        85
6        85
5        85
1_2      70
3        70
30       15
Name: count, dtype: int64

TYPE_INDICATEUR_DEVDUR: 3 valeurs uniques.

TYPE_INDICATEUR_DEVDUR
I_ODD        6543
I_NIR        1718
I_ODD-NIR     815
Name: count, dtype: int64

TIME_PERIOD: 50 valeurs uniques.

OBS_VALUE: 3340 valeurs uniques.

 Pour une vision plus poussée:          ODD INDICATEUR_DEVDUR UNIT_MEASURE    UNIT_MULT OBS_STATUS   GEO  \
count   9076              9076         9076  9076.000000       9076  9076
unique    17               175           20          NaN          6     5
top     ODD3              8.i2           PT          NaN          A     F
freq    1187               525         4606          NaN       5664  4698
mean     NaN               NaN          NaN     1.104011        NaN   NaN
std      NaN               NaN          NaN     2.246952        NaN   NaN
min      NaN               NaN          NaN     0.000000        NaN   NaN
25%      NaN               NaN          NaN     0.000000        NaN   NaN
50%      NaN               NaN          NaN     0.000000        NaN   NaN
75%      NaN               NaN          NaN     0.000000        NaN   NaN
max      NaN               NaN          NaN     6.000000        NaN   NaN

       GEO_OBJECT DEVDUR_COMPOSITE   SEX   AGE EMPSTA   PCS  \
count        9076             9076  9076  9076   9076  9076
unique          2              192     7    40     11     8
top        FRANCE               _Z    _Z    _Z     _Z    _Z
freq         8948             3985  4481  5061   8071  7891
mean          NaN              NaN   NaN   NaN    NaN   NaN
std           NaN              NaN   NaN   NaN    NaN   NaN
min           NaN              NaN   NaN   NaN    NaN   NaN
25%           NaN              NaN   NaN   NaN    NaN   NaN
50%           NaN              NaN   NaN   NaN    NaN   NaN
75%           NaN              NaN   NaN   NaN    NaN   NaN
max           NaN              NaN   NaN   NaN    NaN   NaN

       TYPE_INDICATEUR_DEVDUR  TIME_PERIOD     OBS_VALUE
count                    9076  9076.000000  6.837000e+03
unique                      3          NaN           NaN
top                     I_ODD          NaN           NaN
freq                     6543          NaN           NaN
mean                      NaN  2015.546166  3.425322e+05
std                       NaN     7.218630  2.847004e+06
min                       NaN  1975.000000 -7.756837e+00
25%                       NaN  2012.000000  7.700000e+00
50%                       NaN  2017.000000  3.660000e+01
75%                       NaN  2021.000000  1.160000e+02
max                       NaN  2024.000000  3.010601e+07  .

,ODD,INDICATEUR_DEVDUR,UNIT_MEASURE,UNIT_MULT,OBS_STATUS,GEO,GEO_OBJECT,DEVDUR_COMPOSITE,SEX,AGE,EMPSTA,PCS,TYPE_INDICATEUR_DEVDUR,TIME_PERIOD,OBS_VALUE
0,ODD1,1.i1a,PT,0,A,FM,FRANCE,NIVIEMED_S60,_T,_T,11,_T,I_ODD,2015,6.5
1,ODD3,3.i2,_Z,0,E,F,FRANCE,CONTAMIN_MOD4,_T,_T,_Z,_Z,I_ODD,2021,255.0
2,ODD2,2.i2f,PT,0,L,F,FRANCE,_Z,_T,_Z,_Z,1_2,I_ODD,2015,NaN
3,ODD1,1.i1a,PT,0,A,FM,FRANCE,NIVIEMED_S60,_T,Y40T49,_T,_T,I_ODD,2016,13.5
4,ODD11,11.i1,PT,0,L,FM,FRANCE,_Z,_T,_T,_Z,_Z,I_ODD,2015,NaN

Exploration visuelle

In [ ]:
# Histogramme d'une variable
sns.histplot(data['OBS_VALUE'])
plt.show()

# Distribution d'une variable catégorielle
sns.countplot(x='GEO', data = data)
plt.show()